<html>

	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>

	<body>

		<h1>Rock, Paper, Scissors</h1>

		<img id="homepage-main-image" src="/images/rock-paper-scissors-homepage.png" width="1000" alt="Graphic of a rock, a piece of paper, and a pair of scissors">
		<br />

		<a href="/player" id="Play Game"><img id="homepage-button" src="/images/play-game-button-homepage.png" width="275" alt="Play game button"></a>

	</body>

</html>
