<html>

	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>

	<body>

		<p> Hello <%= PLAYER.name %>! Please make your selection.</p><br />

		<form action="/result" method="post">
			<input type="radio" name="player_selection" id="rock" value="rock"  /><img id="newgame-rock" src="/images/rock.png" width="300" alt="Graphic of a rock">
			<input type="radio" name="player_selection" id="paper" value="paper" /><img id="newgame-paper" src="/images/paper.png" width="300" alt="Graphic of a piece of paper">
			<input type="radio" name="player_selection" id="scissors" value="scissors" /><img id="newgame-scissors" src="/images/scissors.png" width="300" alt="Graphic of a pair of scissors">

			
			
			

			<input type="submit" name="Play" value="Play" />

		</form>

	</body>

</html>

