<html>

	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>

	<body>

		<h2> Hello <%= PLAYER.name %>!</h2><h3>Please make your selection.</h3><br />

		<section id="player-selection">

			<form action="/result" method="post" id="player_choice">

			<button type="submit" name="player_selection" value="rock"><img src="/images/rock.png" width="300"></button>

			<button type="submit" name="player_selection" value="paper"><img src="/images/paper.png" width="300"></button>

			<button type="submit" name="player_selection" value="scissors"><img src="/images/scissors.png" width="300"></button>

		</section>

		</form>

	</body>

</html>

