<html>

	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>

	<body>

		<p>Player 1, please enter your name!</p>

			<form action="/player" method="post">		
				<input type="text" name="player_1">
				<input type="submit" value="Register">
			</form>

		</body>

</html>

